.rise-enabled .reveal
{
    background-color: #ffffff;
    font-family: "Hiragino Sans", Meiryo, sans-serif;
}

.rise-enabled .reveal .slides h1 { font-family: "Hiragino Sans"; font-weight: 800; color: #009bb3; font-size: 200%; }
.rise-enabled .reveal .slides h2 { font-family: "Hiragino Sans"; font-weight: 800; color: #009bb3; font-size: 150%; }
.rise-enabled .reveal .slides h3 { font-family: "Hiragino Sans"; font-weight: 800; color: #009bb3; font-size: 150%; }
.rise-enabled .reveal .slides h4 { font-family: "Hiragino Sans"; font-weight: 800; color: #009bb3; font-size: 120%; }

/* code `` */
.rise-enabled .reveal .slides code
{
    font-family: Ricty;
    font-size: 95%;
    margin: 1px 0;
}

/* list */
.rise-enabled .reveal .slides ul
{
    font-size: 95%;
    line-height: 1.1;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 45px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

/* In [*] and Out [*] */
.rise-enabled .reveal .slides div.prompt
{
    font-family: Ricty;
}

/* code cell */
body.rise-enabled div.inner_cell>div.input_area {
    font-size: 105%;
}
body.rise-enabled div.output_subarea.output_text.output_result {
    font-size: 105%;
}
body.rise-enabled div.output_subarea.output_text.output_stream.output_stdout {
    font-size: 105%;
}

table{
  border-collapse: collapse;
  margin: 0 auto;
}
td,th{
  padding: 10px;
}
